<ul class='nav pills pull-right'>
  <%- if current_user %>
    <li class='dropdown'>
  <%= link_to current_user, class: 'dropdown-toggle', data: {toggle: 'dropdown'} do %>
    <%= current_user.nickname %>
  <span class='caret'></span>

  <ul class='dropdown-menu'>
    <li><%= link_to '用户中心', '#', data: {confirm: '我还没有想好显示什么，有什么想法请告诉我！'} %></li>
    <li><%= link_to '编辑个人信息', users_edit_path %></li>
    <li><%= link_to '退出', sign_out_path, method: :delete %></li>
  </ul>
<% end -%>
  </li>

<%- else %>
    <li><%= link_to '登录', login_in_path %></li>
<% end -%>
</ul>
