<div class="col-lg-8">
  <div class="activity-body">
    <div class="activity-main">
      <h4><%= h :activity, :author %>: <%= @activity.author_name %></h4>
      <div class="description">
        <h4><%= h :activity, :description %></h4>
        <div class='well'><%= markdown @activity.description %></div>
      </div>
      <%- if @activity.completed? %>
        <div class='summary'>
          <h3><%= h :activity, :summary %></h3>
          <div class='well'><%= markdown @activity.summary %></div>
        </div>
      <% end -%>
      <%= render 'activity_comments', comments: @activity.comments %>
      <%= render 'create_new_comment' %>
    </div>
  </div>
</div>
