<div class="sider-right col-lg-4">
  <div class="activity-info well">
    <h5><%= h :activity, :start_at %>: <span class="alert-success"><%=I18n.l @activity.start_at, format: :short %></span></h5>
    <h5><%= h :activity, :status %>: <span class="alert-success"><%= @activity.human_status %></span></h5>
    <%- if current_user && @activity.has_joined?(current_user) %>
      <%= link_to t("activity.has_joined"), "#", class: 'btn btn-success btn-large btn-block disabled' %>
    <%- elsif current_user && !@activity.can_join?(current_user) %>
      <%= link_to t("activity.cannot_join"), "#", class: 'btn btn-success btn-large btn-block disabled' %>
    <%- else %>
      <%= link_to t("activity.join"), join_activity_path(@activity), method: :post, class: 'btn btn-success btn-large btn-block' %>
    <% end -%>
  </div>
  <%- if can? :manage, @activity %>
    <div class="activity-manage well center clearfix">
      <%= link_to t('common.edit'), [:edit, @activity], class: "btn btn-success btn-large btn-block" %>
      <%= link_to t('common.destroy'), @activity, method: :delete, class: "btn btn-danger btn-large btn-block" %>
    </div>
  <% end -%>
  <div class="activity-participants well center clearfix">
    <h5><%= t("activity.joined_users") %></h5>
    <hr>
    <%- @activity.users.each do |user| %>
      <div class='participant-box col-lg-4'>
        <%= link_to image_tag(user.avatar_url), "http://colla.lanshizi.com/", title: user.nickname %>
      </div>
    <% end -%>
  </div>
</div>
