<div class="row-fluid">
  <div class="activity span12">
    <div class="activity-title span8">
      <h2><%= @activity.title %></h2>

      <hr>
    </div>
    <div class="activity-body">
      <div class="span8 activity-main">
        <div class="description">
          <h4>主讲人: <%= @activity.author_name %></h4>
          <%= @activity.description.html_safe %>
        </div>
        <%- if @activity.completed? %>
          <div class='summary'>
          <h4>活动总结</h4>
          <%= @activity.summary %>
        </div>
      <% end -%>
      </div>
      <div class="sider-right span4">
        <div class="activity-info well">
          <h5>开始时间: <span class="alert-success"><%= @activity.start_at.to_s(:db) %></span></h5>
          <h5>当前状态: <span class="alert-success"><%= @activity.human_status %></span></h5>
          <%- if current_user && @activity.has_joined?(current_user) %>
            <%= link_to "已经报名", "#", class: 'btn btn-success btn-large btn-block disabled' %>
        <%- elsif current_user && !@activity.can_join?(current_user) %>
            <%= link_to "暂时还不能报名", "#", class: 'btn btn-success btn-large btn-block disabled' %>
        <%- else %>
            <%= link_to "报名", join_activity_path(@activity), method: :post, class: 'btn btn-success btn-large btn-block' %>
        <% end -%>
        </div>
        <div class="activity-manage well center clearfix">
          <%= link_to t('common.edit'), [:edit, @activity], class: "btn btn-success btn-large btn-block" %>
          <%= link_to t('common.destroy'), @activity, method: :delete, class: "btn btn-danger btn-large btn-block" %>
        </div>
        <div class="activity-participants well center clearfix">
          <h5>已报名会员</h5>

          <hr>

          <%- @activity.users.each do |user| %>
            <%= link_to image_tag(user.avatar_url), "http://colla.lanshizi.com/" %>
        <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
