<!DOCTYPE html>
<html>
<head>
  <title>RailsNight</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/menu' %>

<div class='container main'>
  <%= bootstrap_flash %>
  <%= yield %>
</div>

<hr/>

<%= render 'shared/foot' %>
</body>
</html>
